.control-panel-container{
    padding-bottom: 20px; 
}

.control-panel{
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
}

.control-panel-left{
    padding-left: 5px;
}

.oscillators{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center; 
    /* display: flex;
    flex-direction: column; */
}

.oscillator-one{
    margin-top: 3px;
    border: 1px solid #333;
    padding: 5px;
}

#waveform{
    margin-bottom: 5px;
}

.freq-filters{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.filter-one{
    margin-top: 3px;
    border: 1px solid #333;
    padding: 5px;
}

#filterType{
    margin-bottom: 5px;
}

.control-panel-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.synth-name{
    padding-top: 40px;
    padding-bottom: 10px;
    height: 60%;
    font-family:  'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder; 
}

.lfo-section{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.lfo-proper{
    margin-top: 3px;
    display: flex;
    border: 1px solid #333;
    padding: 5px;
}

#lfo-buttons{
    display: flex;
    flex-direction: column; 
}

#lfo-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lfo-amp{
    margin-bottom: 5px;
}

#lfo-pitch{
    margin-bottom: 5px;
}

.control-panel-right{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.effects{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center; 
}

.effects-main{
    margin-top: 3px;
    border: 1px solid #333;
    padding: 5px;
}

.effects-buttons{
    margin-bottom: 5px;
}

.asdr-envelope{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

#asdr-controls{
    margin-top: 3px;
    border: 1px solid #333;
    padding: 5px;
}