.keyboard-container {
    width: 1208px;
    height:300px; 
    display: flex; 
}

.keyboard{
    width: 1008px; 
    height: 300px;
    display: flex; 
    border: 5px solid black; 
}

.white-key{
    width: 72px;
    height: 100%;
    border: 1px solid black; 
    cursor: pointer; 
}

.black-key{
    width: 42%;
    height: 58%;
    border: 1px solid black; 
    background: black; 
    float: right; 
    transform: translateX(15px);
    z-index: 5; 
    cursor: pointer; 
}

.octave-control{
    width: 100px; 
    display: flex;
    flex-direction: column;
    margin: 5px, 0px, 5px, 0px; 
}

#octave-control{
    -webkit-transform:rotate(90deg)
}