.keyboard-container {
    width: 1208px;
    height:300px; 
    display: flex; 
}

.keyboard{
    width: 1008px; 
    height: 300px;
    display: flex; 
    border: 5px solid black; 
}

.white-key{
    width: 72px;
    height: 100%;
    border: 1px solid black; 
    cursor: pointer; 
}

.black-key{
    width: 42%;
    height: 58%;
    border: 1px solid black; 
    background: black; 
    float: right; 
    transform: translateX(15px);
    z-index: 5; 
    cursor: pointer; 
}

.octave-control{
    height: 100%; 
    width: 100px; 
    display: flex;
    flex-direction: column;
    padding-top: 5px; 
    padding-bottom: 5px; 
    justify-content: center  
}

.octave-control-container{
    height: 50%; 
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 10px;
}

.octave-control-text-container{
    margin: 0 auto; 
    height: 30%;
    width: 60px;
    text-align: center;
}

#octave-control-text{
    width: 80px; 
}

#octave-control{
    -webkit-transform:rotate(90deg);
    direction: rtl;
    height: 100px;
    width: 150px;
    box-sizing: border-box;
}

.master-volume{
    height: 100%; 
    width: 100px; 
    display: flex;
    flex-direction: column;
    padding-top: 5px; 
    padding-bottom: 5px; 
    justify-content: center 
}

.master-volume-container{
    height: 50%; 
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 10px;
}

.master-volume-text-container{
    margin: 0 auto; 
    height: 30%;
    width: 80px;
    text-align: center;
}

#master-volume-text{
    width: 80px; 
}

#volume{
    -webkit-transform:rotate(90deg);
    direction: rtl;
    height: 100px;
    width: 150px;
    box-sizing: border-box;
}