body{
    height: auto; 
    vertical-align: middle; 
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
}

.synth-body{
    margin: 0 auto; 
    width: 1218px; 
    border: 5px solid #333;
    z-index: 1;
    background: white;
}

button:focus {
    outline:0;
    -webkit-tap-highlight-color: transparent;
}

span{
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}

