body{
    height: auto; 
    vertical-align: middle; 
    height: 100%; 
}

.synth-body{
    margin: 0 auto; 
    width: 1218px; 
    border: 5px solid #333;
    z-index: 1;
}

span{
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
}